/* width */
::-webkit-scrollbar {
  width: 14px;
}

/* Track */
::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px grey; 
  border-radius: 10px;
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  background: #d04121; 
  border-radius: 10px;
}


/*CSS SLIDER BOOTSTRAP CODE*/

.carousel,
.item,
.active {
    height: 100%;
}

.carousel-inner {
    height: 100%;
}


/* Background images are set within the HTML using inline CSS, not here */

.fill {
    width: 100%;
    height: 100%;
    background-position: center;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    background-size: cover;
    -o-background-size: cover;
}


/*end of css slider bootstrap code*/

html,
body {
    height: 100%;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    scroll-behavior: smooth;
}

#main-logo {
    display: inline;
}

@keyframes phase {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}

.slider-hr {
    width: 60%;
    background-color: rgba(0, 128, 128, 0.5);
    height: 4px;
    border: none;
    border-radius: 50%;
}

.section-hr {
    width: 30%;
    background-color: rgba(0, 128, 128, 0.5);
    height: 4px;
    border: none;
    border-radius: 50%;
}

#section-a {
    margin-top: 30px;
    padding-top: 20px;
    margin-bottom: 50px;
    min-height: 400px;
}

.section-text {
    font-weight: 400;
    font-size: 15px;
    line-height: 1.5;
    float: left;
}

.bold-grey {
    font-weight: 800;
    color: grey;
}



.carousel-caption {
    animation-name: phase;
    animation-duration: 5s;
}

.navbar-logo {
    margin-top: -25px;
}


#no-decoration:hover {
    color: white;
}

.navbar-fixed-top.scrolled {
    background-color: #d04121 !important;
    transition: background-color 500ms linear;
    width: 100%;
}

.navbar-toggle {
    height: 75px;
    background-color: #4A4040;
}

.navbar-default .navbar-nav>li>a {
    color: white;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: white;
    text-decoration: underline;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: teal;
    color: white;
}

.dropdown-menu>li>a {
    background-color: white;
    color: teal;
}

.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: teal;
    color: white;
}



.sm-top-banner {
    float: right;
    color: white;
    padding: 5px 0 5px 30px;
}

.contact-top-banner {
    color: white;
    padding: 5px 10px 5px 5px;
}

.top-banner-contact-style {
    font-weight: 500;
    font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-left: 8px;
}

.sm-top-fb:hover {
    color: #4b67a1;
}

.sm-top-tw:hover {
    color: #cc3366;
}

.navbar-brand>img {
    padding-top: 20px;
}

.navbar-default .navbar-collapse,
.navbar-default .navbar-form {
    padding-top: 20px;
}


/*Hamburger Menu Beginning*/
.wrapper{
    width: 90%;
    margin: 0 auto;
}

.container_menu{
    float: right;
    height: 25px;
    width: 40px;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
}

.menulogo{
    width: 50px;
    height: 6px;
    background: #fff;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(255,101,47,.2);
    transition: all .5s ease-in-out;
}

.menulogo::before,
.menulogo::after {
  content: '';
  position: absolute;
  width: 50px;
  height: 6px;
  background: #fff;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(255,101,47,.2);
  transition: all .5s ease-in-out;
}
.menulogo::before {
  transform: translateY(16px);
}
.menulogo::after {
  transform: translateY(-16px);
}
/* ANIMATION */
.container_menu.open .menulogo {
  transform: translateX(-50px);
  background: transparent;
  box-shadow: none;
}
.container_menu.open .menulogo::before {
  transform: rotate(45deg) translate(35px, -35px);
}
.container_menu.open .menulogo::after {
  transform: rotate(-45deg) translate(35px, 35px);
}

.menu{
    height: 100vh;
    width: 50%;
    background-color: #d04121;
    padding: 50px;
    transform: translateX(-1000px);
    transition: 0.5s;
    border-radius: 20px;
}

.menu li{
    list-style-type: none;
    border-bottom: 1px solid white;
    padding: 30px 0;
    text-align: center;
}

.showmenu{
    transform: translateX(0);
}

.menu li:last-child{
    border-bottom: none;
}

.menu li a{
    color: white;
    text-decoration: none;
    font-size: 20px;
    transition: font-weight 0.2s;
}

.menu li a:hover{
    font-weight: bold;
}




@media screen and (min-width: 1000px){
    .menu{
        width: 500px;
    }
}

@media screen and (max-width: 600px){
    .menu li a{
        font-size: 16px;
    }
}
/*Hamburger Menu End*/









/*Book Beginning*/
.book-section{
            height: 100vh;
            width: 100%;
            padding: 40px 0;
            text-align: center;
        }
        .book-section > .container{
            height: 700px;
            width:1400px;
            position: relative;
            left: 35.5%;
            transform: translateX(-50%);
            border-radius: 2%;
            margin-bottom: 20px;
            perspective: 1200px;
        }
        .container > .right{
            position: absolute;
            height: 100%;
            width: 50%;
            transition: 0.7s ease-in-out;
            transform-style: preserve-3d;
        }
        .book-section > .container > .right{
            right:0;
            transform-origin: left;
            border-radius: 10px 0 0 10px;
        }
        .right > figure.front, .right > figure.back{
            margin: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            left:0;
            top:0;
            background-size: 100%;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            background-color: white;
            overflow: hidden;
        }
        .right > figure.front{
            background-position: right;
            border-radius: 0 10px 10px 0;
            box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.2);
        }
        .right > figure.back{
            background-position: left;
            border-radius: 10px 0 0 10px;
            box-shadow: -2px 2px 15px -2px rgba(0,0,0,0.2);
            transform: rotateY(180deg);
        }
        .flip{
            transform: rotateY(-180deg);
        }
        .flip::before{
            content: "";
            position: absolute;
            top:0;
            left:0;
            z-index: 10;
            width: 100%;
            height: 100%;
            border-radius: 0 10px 10px 0;
            background-color: rgba(0,0,0,0.1);
        }
        .book-section > button{
            border: 2px solid #d04121;
            background-color: transparent;
            color: #d04121;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
            transition: 0.3s ease-in-out;
        }
        .book-section > button:focus, .book-section > button:active{
            outline: none;
        }
        .book-section > p{
            color: rgba(0,0,0,0.7);
            font-family: calibri;
            font-size: 24px;
        }
        .book-section > p > a{
            text-decoration: none;
            color: #ef9f00;
        }
        .book-section > button:hover{
            background-color: #d04121;
            color: #fff;
        }
        .front#cover, .back#back-cover{
            background-color: #ffcb63;
            font-family: calibri;
            text-align: left;
            padding: 0 30px;
        }
        .front#cover h1{
            color: #fff;
        }
        .front#cover p{
            color: rgba(0,0,0,0.8);
            font-size: 14px;
        }
/*Book1 End*/


/*Book2 Beginning*/
        .book-section{
            height: 100vh;
            width: 100%;
            padding: 40px 0;
            text-align: center;
        }
        .book-section > .container{
            height: 700px;
            width:1400px;
            position: relative;
            left: 35.5%;
            transform: translateX(-50%);
            border-radius: 2%;
            margin-bottom: 10px;
            perspective: 1200px;
        }
        .container > .right1{
            position: absolute;
            height: 100%;
            width: 50%;
            transition: 0.7s ease-in-out;
            transform-style: preserve-3d;
        }
        .book-section > .container > .right1{
            right: 0;
            transform-origin: left;
            border-radius: 10px 0 0 10px;
        }
        .right1 > figure.front, .right1 > figure.back1{
            margin: 0;
            height: 100%;
            width: 100%;
            position: absolute;
            left:0;
            top:0;
            background-size: 100%;
            background-repeat: no-repeat;
            backface-visibility: hidden;
            background-color: white;
            overflow: hidden;
        }
        .right1 > figure.front{
            background-position: right;
            border-radius: 0 10px 10px 0;
            box-shadow: 2px 2px 15px -2px rgba(0,0,0,0.2);
        }
        .right1 > figure.back1{
            background-position: left;
            border-radius: 10px 0 0 10px;
            box-shadow: -2px 2px 15px -2px rgba(0,0,0,0.2);
            transform: rotateY(180deg);
        }
        .flip{
            transform: rotateY(-180deg);
        }
        .flip::before{
            content: "";
            position: absolute;
            top:0;
            left:0;
            z-index: 10;
            width: 100%;
            height: 100%;
            border-radius: 0 10px 10px 0;
            background-color: rgba(0,0,0,0.1);
        }
        .book-section > .button2{
            border: 2px solid #62306f;
            background-color: transparent;
            color: #62306f;
            padding: 10px 20px;
            border-radius: 5px;
            cursor: pointer;
            margin: 10px;
            transition: 0.3s ease-in-out;
        }
        .book-section > .button2:focus, .book-section > .button2:active{
            outline: none;
        }
        .book-section > p{
            color: rgba(0,0,0,0.7);
            font-family: calibri;
            font-size: 24px;
        }
        .book-section > p > a{
            text-decoration: none;
            color: #ef9f00;
        }
        .book-section > .button2:hover{
            background-color: #62306f;
            color: #fff;
        }
        .front#cover, .back1#back-cover{
            background-color: #ffcb63;
            font-family: calibri;
            text-align: left;
            padding: 0 30px;
        }
        .front#cover h1{
            color: #fff;
        }
        .front#cover p{
            color: rgba(0,0,0,0.8);
            font-size: 14px;
        }
/*Book2 End*/






/*Info Beginning*/

.first_h{
    text-align: center;
    color: white;
    font-size: 3.5rem;
    font-style: bold;
}

.second_h{
    text-align: center;
    color: white;
    font-style: bold;
}

.p{
    font-size: 1.9em;
    text-align: left;
}

/*Info End*/







/*Footer CSS*/
@import url("https://fonts.googleapis.com/css?family=Poppins:200,300,400,500,600,700,800,900&display=swap");

footer{
    position: relative;
    width: 100%;
    background: #d04121;
    min-height: 100px;
    padding: 20px 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    margin-top: 350px;
}

footer .social_icon,
footer .menu{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
    flex-wrap: wrap;
}

footer .social_icon li,
footer .menu li{
    list-style: none;
}

footer .social_icon li a{
    font-size: 2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
}

footer .social_icon li a:hover{
    transform: translateY(-10px);
}

footer .menu li a{
    font-size: 1.2em;
    color: #fff;
    margin: 0 10px;
    display: inline-block;
    transition: 0.5s;
    text-decoration: none;
    opacity: 0.75;
}

footer .menu li a:hover{
    opacity: 1;
}

footer p{
    color: white;
    text-align: center;
    margin-top: 15px;
    margin-bottom: 10px;
    font-size: 1.1em;
}

footer .wave{
    position: absolute;
    top: -100px;
    left: 0;
    width: 100%;
    height: 100px;
    background: url("wave1.png");
    background-size: 1000px 100px;
}

footer .wave#wave1{
    z-index: 1000;
    opacity: 1;
    bottom: 0;
    animation: animateWave 4s linear infinite;
}

footer .wave#wave2{
    z-index: 999;
    opacity: 0.5;
    bottom: 10px;
    animation: animateWave_02 4s linear infinite;
}

footer .wave#wave3{
    z-index: 1000;
    opacity: 0.2;
    bottom: 15px;
    animation: animateWave 3s linear infinite;
}

footer .wave#wave4{
    z-index: 1000;
    opacity: 0.7;
    bottom: 20px;
    animation: animateWave 2s linear infinite;
}

@keyframes animateWave{
    0%{
        background-position-x: 0px;
    }

    100%{
        background-position-x: 1000px;
    }
}

@keyframes animateWave_02{
    0%{
        background-position-x: 1000px;
    }

    100%{
        background-position-x: 1000px;
    }
}
/*End of Footer CSS*/












/*Start of CSS for Associated friends and partners*/

        .other-slider {
            margin-bottom: 320px;
        }

        .top_logo{
            width: 84.5px;
            margin-top: -35px
        }

        .navbar-fixed-top {
            background-color: transparent;
            border-bottom: none;
            height: 85px;
            transition: background-color 500ms linear;

        }

        .photo{
            height: 600px;
            border-radius: 15px;
            margin-left: 250px
        }

        .top-banner {
    height: 35px;
    font-size: 20px;
    background-color: rgba(208, 65, 33, 0.5);
}





















/*Book Media Queries Beginning*/

/*Ipad*/
@media only screen and (max-width: 835px){
            .book-section > .container{
                height: 400px;
                width: 800px;
                left: 49.5%;
            }

            .book-section{
                height: 50vh;
                margin-bottom: 100px;
            }

            iframe{
                width: ;
                height: ;
            }

            footer{
                margin-top: 300px;
            }
}


@media only screen and (max-width: 770px){

            #halal_line{
              background-color: #d04121;
            }

            .book-section > .container{
                height: 200px;
                width:400px;
                left: 48%;
            }

            .book-section{
                height: 330px;
                margin-bottom: 100px;
            }

            iframe{
                width: ;
                height: ;
            }

            footer{
                margin-top: 300px;
            }

            .first_h{
                font-size: 2.2em;
            }

            .second_h{
                font-size: 2rem;
            }

            .p{
                font-size: 1.7rem;
            }
}


@media only screen and (max-width: 500px){

            #halal_line{
              background-color: #d04121;
            }

            .book-section > .container{
                height: 200px;
                width:400px;
                left: 48%;
            }

            .book-section{
                height: 330px;
                margin-bottom: 100px;
            }

            iframe{
                width: ;
                height: ;
            }

            footer{
                margin-top: 300px;
            }

            .first_h{
                font-size: ;
            }

            .second_h{
                font-size: ;
            }

            .p{
                font-size: ;
            }
}



/*Galaxy Note 20/Note 20 Ultra, Galaxy S20 Ultra, S20+, Iphone 11 Pro/11 Pro Max*/
@media only screen and (max-width: 440px){

            #halal_line{
              background-color: #d04121;
            }

            .book-section > .container{
                height: 180px;
                width: 360px;
                left: 47%;
            }

            .book-section{
                height: 330px;
                margin-bottom: 100px;
            }

            iframe{
                width: 400px;
                height: 400px;
            }

            footer{
                margin-top: 300px;
            }

            .first_h{
                font-size: 2.2em;
            }

            .second_h{
                font-size: 2rem;
            }

            .p{
                font-size: 1.7rem;
            }
}


/*Galaxy S20/S10/S10+, */
@media only screen and (max-width: 365px){

            #halal_line{
              background-color: #d04121;
            }

            .book-section > .container{
                height: 150px;
                width: 300px;
                left: 42%;
            }

            .book-section{
                height: 330px;
                margin-bottom: 100px;
            }

            iframe{
                width: 340px;
                height: 340px;
            }

            footer{
                margin-top: 300px;
            }

            .first_h{
                font-size: 29px;
            }

            .second_h{
                font-size: 18.5px;
            }

            .p{
                font-size: ;
            }
}

/*Book Media Queries End*/







@media only screen and (max-width: 1025px){

    .nav-link{
        margin-top: -20px;
    }

    .other-slider {
        margin-bottom: 260px;
    }

    .navbar-fixed-top{
        height: 50px;
    }

    .top_logo{
        width: 70px;
        
    }

    .icons{
        margin-top: -40px;
    }

    /* Map */
        .lp_2{
         margin-top: 30px;
        }

        .map_container{
            display: flex;
            flex-direction: column;
            margin-left: -20px;
            margin-right: ;
            width: 340px;
            text-align: center;
        }

        .col-md-4{
            width: 340px;
        }

        .map {
            border: 2px solid teal;
            border-radius: 10px;
            width: 315px;
            margin-top: -20px;
            margin-left: 20px;

        }
    
}


@media only screen and (max-width: 770px) {
    .nav-link{
        margin-top: -20px;
    }

    .other-slider {
        margin-bottom: 260px;
    }

    .navbar-fixed-top{
        height: 50px;
    }

    .top_logo{
        width: 70px;
        margin-top: -35px;
    }

    .icons{
        margin-top: -40px;
    }

    /* Map */
        .lp_2{
         margin-top: 30px;
        }

        .map_container{
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            margin-right: ;
            width: 340px;
            text-align: center;
        }

        .col-md-4{
            width: 340px;
        }

        .map {
            border: 2px solid teal;
            border-radius: 10px;
            width: 340px;
            margin-top: -20px;

        }
}

@media only screen and (max-width: 500px) {

    .top_logo{
        width: 40px;
    }

    .img-button {
        margin-top: 0;
        margin-right: 100px;
    }
    .section-a-btn {
        margin-right: 135px;
    }
    #careers-a {
        background-image: none;
    }
    .top-banner {
        display: none;
    }
    .container-fluid>.navbar-collapse,
    .container-fluid>.navbar-header,
    .container>.navbar-collapse,
    .container>.navbar-header {
        height: 70px;
        background-color: #d04121;
    }
    .cu-pic {
        width: 300px;
        height: 170px;
        border-radius: 25px;
        margin-left: 6%;
        transition-duration: 0.5s;
    }
}

@media only screen and (max-width: 440px) {

    .other-slider {
        margin-bottom: 260px;
    }

    .navbar-fixed-top{
        height: 50px;
    }

    .top_logo{
        width: 70px;
        margin-top: -35px;
    }



    /* Map */
        .lp_2{
         margin-top: 30px;
        }

        .map_container{
            display: flex;
            flex-direction: column;
            margin-left: 5px;
            margin-right: ;
            width: 340px;
            text-align: center;
        }

        .col-md-4{
            width: 340px;
            margin-left: 20px;
        }

        .map {
            border: 2px solid teal;
            border-radius: 10px;
            width: 340px;
            margin-top: -20px;

        }
}

@media only screen and (max-width: 360px) {
        .other-slider {
        margin-bottom: 260px;
    }

    .navbar-fixed-top{
        height: 50px;
    }

    .top_logo{
        width: 70px;
        
    }

    /* Map */
        .lp_2{
         margin-top: 30px;
        }

        .map_container{
            display: flex;
            flex-direction: column;
            margin-left: -20px;
            margin-right: ;
            width: 340px;
            text-align: center;
        }

        .col-md-4{
            width: 340px;
            margin-left: -20px;
        }

        .map {
            border: 2px solid teal;
            border-radius: 10px;
            width: 300px;
            margin-top: -20px;
            margin-left: -20px;

        }
}

@media only screen and (max-width: 835px) {

    .nav-link{
        margin-top: -20px;
    }

    .other-slider {
        margin-bottom: 260px;
    }

    .navbar-fixed-top{
        height: 50px;
    }

    .top_logo{
        width: 70px;
        
    }

    

    /* Map */
        .lp_2{
         margin-top: 30px;
        }

        .map_container{
            display: flex;
            flex-direction: column;
            margin-left: -20px;
            margin-right: ;
            width: 340px;
            text-align: center;
        }

        .col-md-4{
            width: 340px;
        }

        .map {
            border: 2px solid teal;
            border-radius: 10px;
            width: 315px;
            margin-top: -20px;
            margin-left: 20px;

        }
}















     










